#root { 
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888888;
}

body {
  background-image: url('/src/assets/pelii.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh;
  background-attachment: fixed; 
  margin: 0; 
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.app-container {
  background-image: url('/assets/pelii.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh; 
  background-attachment: fixed; 
  display: flex;
  flex-direction: column; 
}

.movie-card {
  width: 22rem; /* Tarjetas más anchas */
  height: 500px; /* Altura fija para uniformidad */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f8f9fa;
  overflow: hidden;
}

.movie-card img {
  height: 250px; /* Tamaño uniforme para imágenes */
  object-fit: cover;
}

.movie-card .card-body {
  flex: 1;
  background-color: #343a40;
  color: white;
  font-size: 0.8rem; /* Letra más pequeña */
}

.movie-card .card-text {
  color: #f8f9fa;
  flex-grow: 1;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 120px;
  padding-right: 5px;
  font-size: 0.75rem; /* Letra aún más pequeña para mejor visibilidad */
}

.movie-card .scrollable-content {
  overflow-y: auto;
  max-height: 150px; /* Ajuste de altura para permitir el desplazamiento vertical */
  padding-right: 5px;
  padding-bottom: 10px;
}

/* Responsivo para iPads y pantallas medianas: 2 columnas */
@media (max-width: 1326px) {
  .row > .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  #root {
    max-width: 1024px; /* Ajuste para iPads */
    padding: 1.5rem;
  }
}

/* Responsivo para móviles: 1 columna */
@media (max-width: 576px) {
  .row > .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .movie-card {
    width: 90%; /* Más ancho en móviles */
  }

  .movie-card .card-body {
    font-size: 0.7rem; /* Ajuste para móviles */
  }

  .movie-card .card-text {
    font-size: 0.7rem; /* Ajuste para móviles */
  }
}
